/* css/main*/


/* INICIA LOGIN*/
*{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

body{
    width: 100%;
    background-color: #f0f0f0;
    font-family: sans-serif;

}
h1{
    font-size: 220%;
    color: #fff;
}
h3{
    font-size: 110%;
    color: #4bacff;
}
header p{
    font-size: 80%;
    color: #fff;
}
p{
    font-size: 50%;
    color: #000;
}

#heart{
    font-size: 100%;
    color: #fff;
}

header{
    padding-top: 2%;
    line-height: 35%;
    background-color: #84457e;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

section{
    height: 18%; /*260px*/
    width: 21%; /*250px*/
    background-color: #fff;
    right: auto;
    left: auto;
    padding: 2%;
    border-top: 10px solid #4bacff; /*pregntar a kary porcentaje*/
    border-bottom: 15px solid #4bacff;
}

section #form-header {
    font-size: 120%;
    color: #4bacff;
    line-height: normal;
    margin-bottom: 2%;
    margin-top: 4%;
}

form input {
    width: 90%;
    height: 30px;  /* preguntar a kary porcentaje*/
    margin: 3%;
    color: #4bacff;
    text-align: center;
    border-radius: 5px; /* preguntar a kary porcentaje*/
    border: 1px solid #d0d0d0;
}

form button {
    background-color: #4bacff;
    color: #fff;
    width: 90%;
    height: 40px;
    margin: 3%;
    border-radius: 5px;
    text-align: center;
    font-size: 120%;
    cursor:pointer;
    box-shadow: none;
    -webkit-transition:background .4s;
    -ms-transition:background .4s;
    -o-transition:background .4s;
    -moz-transition:background .4s;
    transition:background .4s;
}

section #mensaje{
    height: 200%;
    margin-top: 2%;
    font-size: 70%;
}
form button:hover {
    background-color: #3488d1;
}
section #form-footer {
    font-size:120%;
    color: #4bacff;
    margin-top: 5%;
}

/* ==================================================================
        Estilos para el captcha
================================================================== */
div#captcha {
    background-color: #fff;
    width: 40%;
    height: 90%;
    margin-top: 0px auto;
    padding: 1%;
    border: 3px solid #ff6200;
    border-radius: 8px;
    box-shadow:inset  0px 0px 10px #000;
    display: inline-block;
}
#captcha section {
  margin-top: 15px;
}

div#captcha div.numeros {
    width: 40px;
    height: 15px;
    padding: 1%;
    margin: 0px auto;
    /*border: 1px solid #ff6200;
    border-radius: 6px;
    background-color: #fff;
    box-shadow:inset  0px 0px 10px #000;*/
    display: inline-block;
}
div#captcha div.signo {
    background-color: #fff;
    width: 10px;
    height: 15px;
    padding: 1%;


    display: inline-block;
}
/*--   texto  "login" ---*/
div#captcha form {
    margin: 5% auto;
}

div#captcha form h1{
     color: black:
     text-align: center;
     font-size: 40px;
     margin: 0px auto;
}

div#captcha form input {
    width: 40%;
    height: 2%;
    margin: 0px auto;
    margin-bottom: 5%;
    margin-top: 5%;
    color: #ff6200;
    text-align: center;
    border-radius: 5px;
    display: block;
}
/*--   botones ---*/

div#captcha form button {
    background-color: #0b9f1c;
    color: #fff;
    width: 50%;
    height: 2%;
    margin: 0% auto;
    border-radius: 7px;
    box-shadow: 0px 2px 0px;
    font-size: 100%;
    display: block;
}
    /* ==================================================================
        terminan estilos de captcha
    ================================================================== */

footer{
    font-size: 100%;
    color: #000;
}
/*TERMINA LOGIN*/
