{
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
    background-color:#fff;
    text-align: center;
    margin: auto;
    font-size: 100%;
}

/*---------------------------------------------------------------------------*/
div#pagina {
    width: 100%;
    margin: 0px auto;
    height: auto;
    position: relative;

}


header {
    width: 100%;
    height: auto;
    background-color:#6c1765;
    margin: 0px auto;
    margin-top: 0px;
    position: relative;
    padding-bottom: 1%;
    padding-top: 1%;
}


h1 {
    color:#ffffff;


}



nav#menu{
    width: 100%;
    height: 16px;
    background-color: #f5f2f2;
    color:#368fbf;
    font-size: 16px;
    margin: 0px auto;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    margin-bottom: 100px;
}

nav a, header span a, footer, a {
    text-decoration: none;
    color: #368fbf;
    display: inline-block;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    font-size: 14px;
}

nav a:hover, header span a:hover, footer a:hover {
    text-decoration: none;
    color: #e06c1f;
}

span#navegacion {
    position: absolute;
    right: 50px;
    top: 5px;
}

article {
    width: 50%;
    height: auto;
    margin: 0px auto;
    display: inline-block;

}

section#reflexion {
    width: 100%;
    height: auto;
}


p#frase {
    width: 80%;
    height: auto;
    padding: 8%;
    background-color: antiquewhite;
    margin: 10px auto;
    font-size: 18px;
    border-radius: 20px;
}

aside#entrar {
    width: 50%;
    height: auto;
    margin: 0px auto;
    position: absolute;
    right: 10px;
    top: 0px;

}

#login {
    background-color: #fff;
    width: 60%;
    margin: 0px auto;
    margin-top: 0px;

}

form h1{
     color: black;
     text-align: center;
     margin: 0px auto;
}

form h2{
    color: aliceblue;
    text-align: center;
    font-size: 50%;

}

form input {
    width: 60%;
    height: 20px;
    margin: 1% 20%;
    color: #ff6200;
    text-align: center;
    border-radius: 5px;
}


form button {
    background-color: #660977;
    font-size: 20px;
    color: #fff;
    width: 40%;
    height: 30px;
    margin: 5% 30%;
    border-radius: 7px;
    box-shadow: 0px 2px 0px;
}
form button:hover {
    background-color: #c3008e;
}

    /* ==================================================================
        Estilos para el captcha
    ================================================================== */
div#captcha {
    background-color: #fff;
    width: 40%;
    height: 90%;
    margin-top: 0px auto;
    padding: 1%;
    border: 3px solid #ff6200;
    border-radius: 8px;
    box-shadow:inset  0px 0px 10px #000;
    display: inline-block;
}
#captcha section {
  margin-top: 15px;
}

div#captcha div.numeros {
    width: 40px;
    height: 15px;
    padding: 1%;
    margin: 0px auto;
    /*border: 1px solid #ff6200;
    border-radius: 6px;
    background-color: #fff;
    box-shadow:inset  0px 0px 10px #000;*/
    display: inline-block;
}
div#captcha div.signo {
    background-color: #fff;
    width: 10px;
    height: 15px;
    padding: 1%;


    display: inline-block;
}
/*--   texto  "login" ---*/
div#captcha form {
    margin: 5% auto;
}

div#captcha form h1{
     color: black:
     text-align: center;
     font-size: 40px;
     margin: 0px auto;
}

div#captcha form input {
    width: 40%;
    height: 2%;
    margin: 0px auto;
    margin-bottom: 5%;
    margin-top: 5%;
    color: #ff6200;
    text-align: center;
    border-radius: 5px;
    display: block;
}
/*--   botones ---*/

div#captcha form button {
    background-color: #0b9f1c;
    color: #fff;
    width: 50%;
    height: 2%;
    margin: 0% auto;
    border-radius: 7px;
    box-shadow: 0px 2px 0px;
    font-size: 100%;
    display: block;
}
    /* ==================================================================
        terminan estilos de captcha
    ================================================================== */
footer {
    width: 100%;
    background-color: #0b6898;
    margin-bottom: 15px;
    color: #fff;
}
